$dim-grey: #636262;
$grey: #808080;
$light-blue: #6b6bcf;
$light-grey: #dddcdc;
$lighter-grey: #cfcece;
$silver-grey: #bebdbd;
$white: #ffffff;

//font size
$font-size14: 14px;
$font-size15: 15px;
$font-size13: 13px;
$font-size18: 18px;

$weight500: 500;
$important: !important;

%center{
    text-align: center;
}
%height150{
    height: 150px;
}

$margin1x: 10px;