// color values
$blue: #0a55a6;
$dim-grey: #636262;
$dim-grey-1:#424242;
$grey: #808080;
$light-blue: #6b6bcf;
$ligh-blue-1: #5285be;
$light-blue-1: #483ddf;
$light-grey: #dddcdc;
$light-grey-1: #aaa9a9;
$light-grey-2: #c9c7c7;
$lighter-grey: #cfcece;
$white-light: #ecf0f1;
$orange: #e19000;
$red: #a20300;
$silver-grey: #bebdbd;
$white: #ffffff;

//font size
$font-size14: 14px;
$font-size15: 15px;
$font-size13: 13px;
$font-size18: 18px;

$width100: 100%;
$weight500: 500;
$important: !important;

%center{
    text-align: center;
}
%height150{
    height: 150px;
}

$margin1x: 10px;

// display
$display-inline: inline;
$display-inline-block: inline-block;
$display-inline-flex: inline-flex;